/* Import the Ubuntu font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/* Apply the Ubuntu font to the entire survey */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif !important;
}

/* Change the body font size */
p, ul, li, .cb-inline-label {
  font-size: 17px;
}

/* Change the question font size */
label.control-label {
    font-size: 17px !important;
}

/* Change the option font size */
.mc-span {
  font-size: 17px;
}

/* Change the page width */
.container, .run-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Adjust spaces */
div.control-label > p {
    line-height: 1.6 !important;
    margin-bottom: 10px !important;
}
div.control-label > h2 {
    margin-bottom: 10px !important;
}
ul {
  margin-top: 10px !important;
  margin-bottom: 10px !important; 
}
ul li {
    margin-bottom: 5px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
label.control-label, .controls-inner {
    margin-top: 10px !important;
    margin-bottom: 10px !important; 
}

/* Video Embedding */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}